<main>
  <div>
    <div class="row">
      <div class="col s6 m6 l6 offset-s2 offset-m4 offset-l4">
        <img src="../../../../assets/img/s5_logo.png" class="form-logo-img">
      </div>
      <div class="col s12 m6 l6  offset-m3 offset-l3">
        <div class="card z-depth-5">
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="card-content">
              <span class="card-title">Changer le mot de passe</span>
              <div class="divider"></div>
              <div class="row">
                <div class="col s12">
                  </div>
                  <div class="row">
                    <mz-input-container class="col s12">
                      <input mz-input mz-validation required
                             id="password"
                             formControlName="password"
                             type="text"
                             [errorMessageResource]="errorMessageResources.password"
                             [label]="'Ancien mot de passe'"/>
                    </mz-input-container>
                  </div>


                  <div class="row">
                    <mz-input-container class="col s12">
                      <input mz-input mz-validation required
                             id="new_password"
                             formControlName="new_password"
                             type="password"
                             [errorMessageResource]="errorMessageResources.new_password"
                             [label]="'Nouveau mot de passe'"/>
                    </mz-input-container>
                  </div>


                  <div class="row">
                    <mz-input-container class="col s12">
                      <input mz-input mz-validation required
                             id="conf_password"
                             formControlName="conf_password"
                             type="password"
                             [errorMessageResource]="errorMessageResources.conf_password"
                             [label]="'Confirmer le mot de passe'"/>
                    </mz-input-container>
                  </div>
                  <div class="row">
                    <div class="col">
                      <button mz-button [disabled]="!passwordForm.valid" type="submit">Valider</button>
                    </div>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="loader == true" class="spinner-box">
        <mz-spinner [color]="'blue'" [size]="'big'" style="position: absolute;left: 50%;top: 40%;">
        </mz-spinner>
      </div>




      <!-- tap target -->



      <div *ngIf="first_start == 1">
        <div (click)="triggerFeatureDiscovery()" class="fixed-action-btn">
          <a id="star-button" class="btn-floating  btn-large waves-effect waves-light blue"><i class="material-icons">help</i></a>
        </div>



        <!-- mz-feature-discovery component -->
        <mz-feature-discovery [targetId]="'star-button'" #featureDiscovery>
          <h5 style="margin-left: 1em">Bienvenue cher {{user.c_prenom}} {{user.c_nom}}</h5>
          <p>Vous êtes à votre première connexion sur notre plateforme. Nous vous prions donc de  définir votre propre mot de passe dans le formulaire ci-après.</p>
        </mz-feature-discovery>
      </div>


    </div>
  </div>
</main>

<app-nav-footer></app-nav-footer>

