<main>
  <div>
    <div class="row">
      <div class="col s6 m6 l6 offset-s2 offset-m4 offset-l4">
        <img src="../../../../assets/img/helpdesk.png" class="form-logo-img">
      </div>
      <div class="col s12 m5 l5  offset-m3 offset-l3">
        <div class="card z-depth-5">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="card-content">
              <span class="card-title">Connexion</span>
              <div class="divider"></div>
              <div class="row">
                <div class="col s12">
                  <div class="row">
                    <mz-input-container class="col s12">
                      <input mz-input mz-validation required
                             id="username"
                             formControlName="username"
                             type="text"
                             [errorMessageResource]="errorMessageResources.username"
                             [label]="'Nom d\'utilisateur'"/>
                    </mz-input-container>
                  </div>


                  <div class="row">
                    <mz-input-container class="col s12">
                      <input mz-input mz-validation required
                             id="password"
                             formControlName="password"
                             type="password"
                             [errorMessageResource]="errorMessageResources.password"
                             [label]="'Mot de passe'"/>
                    </mz-input-container>
                  </div>

                  <div class="row">
                    <div class="col s6">
                      <button mz-button [disabled]="!loginForm.valid" type="submit">Connexion</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col s6 m6 l6 offset-s2 offset-m4 offset-l4">
        <img src="../../../../assets/img/s5_logo.png" style="height: 5em" class="form-logo-img">
      </div>

      <div *ngIf="loader == true" class="spinner-box">
        <mz-spinner [color]="'blue'" [size]="'big'" style="position: absolute;left: 50%;top: 40%;">
        </mz-spinner>
      </div>

    </div>
  </div>
</main>

<app-nav-footer></app-nav-footer>

