footer{
  bottom: 0;
  width: 100%;
  position: fixed;
  color: black;
}


.page-footer{
  background-color: white!important;
}

footer .footer-copyright {
  height: 0em!important;
}

.page-footer .footer-copyright {
  min-height: 26px!important;
}
